.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

/* .featureSvg {
  height: 200px;
  width: 200px;
} */


.featureSvg {
  width: 95%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 1rem;
}

/* 添加响应式设计 */
@media screen and (max-width: 996px) {
  .featureSvg {
    height: 300px;
  }
}